body {
    background: url('https://images.unsplash.com/photo-1623183073884-84163e7b857d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center; /* Reemplaza con la URL directa de la imagen */
    background-size: cover; /* Cambia a tu imagen de fondo */
    background-color: #000000;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.lado {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los botones en el eje vertical */
}

.boton {
    background-color: rgb(0, 0, 0); /* O considerar el color de fondo de .boton */
    color: white;
    padding: 15px 32px; /* O ajustar según .boton */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* O el tamaño de .boton */
    margin: 40px 0; /* Mantener para la posición */
    cursor: pointer;
    border: none;
    border-radius: 25px; /* O ajustar según .boton */
    position: relative;

    font-family: 'Helvetica', 'Arial', sans-serif;
    -webkit-appearance: none;
    appearance: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(211, 6, 180, 0.5);
}

.boton:focus {
    outline: 0;
  }
  .boton:before, .boton:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .boton:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff00ff 20%, transparent 30%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .boton:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%), radial-gradient(circle, #ff00ff 20%, transparent 20%), radial-gradient(circle, #ffffff 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .boton:active {
    transform: scale(0.9);
    background-color: #000000;
    box-shadow: 0 2px 25px rgb(220, 76, 151);
  }
  .boton.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .boton.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
  }
  

.dropdown-content {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        pink, rgb(218, 115, 168), deeppink, rgb(255, 0, 106),
        pink, rgb(218, 115, 168), deeppink, rgb(255, 0, 106)
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

h1 {
    text-align: center;
}

@media (max-width: 600px) {
    .contenedor {
        flex-direction: column;
        width: 100%;
    }
    .boton {
        padding: 10px 20px;
        margin: 20px 0;
    }
    /* Otros ajustes para dispositivos móviles */
}